# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# SQLite database
*.db

# Logs
*.log
lashbot.log

# Секреты и токены
data.json
.env

# IDE
.vscode/
.idea/

# Virtual environments
venv/
.venv/
env/
ENV/

# MacOS / Windows system files
.DS_Store
Thumbs.db

# PyCharm
*.iml
